colorlog
colorthief
fastapi
asyncpg
uwuify 
uvicorn 
pyppeteer
nudenet
orjson
aiohttp 
pydantic
rembg
captcha
tls_client
jishaku
psutil
xxhash
pillow
pytesseract
redis
munch
tornado
beautifulsoup4
humanize
pomice
shazamio
typing_extensions
yt-dlp
colorgram.py
python-dateutil
humanfriendly
cashews[redis]
python-magic
ffmpeg-python
sublist3r
whapi
tweepy
asyncpraw
python-dotenv
loguru
aiomysql
cryptography
matplotlib
pytz
watchfiles
regex
arrow
langcodes
tuuid
uvloop
pyston